.invoice-number {
  position: relative;
  font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;

color: #000000;
}
.container_details{
 display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
  padding-left: 40px;
  padding-top:5px
}
.box-details {
  background-color: white;
  border: 1px solid white;
  text-align: center;
  font-size: 20px;
  padding-left: 20px;
  .color-gray{
    color:gray;
  }
}

.container_invoice{
     left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFBF6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 60vw;
    height: 60vw;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 40vw;
    height: 60vh
  }

.rectangle-invoice{
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 40vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 80%;
  }

.line{
    border-bottom: 1px solid #000000;
    transform: rotate(0deg);
    margin-right: 10px;
    margin-left: 10px;
    padding-left:30px;
    padding-right:30px;
}

.flex-invoice{
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  ul{
    width: 100%;
  }
}
.item-invoice{
    margin-top: 0;
    margin-bottom: 1rem;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .price-invoice{
      text-align: end;
      padding-right: 30px;
    }
    .package-name{
      text-align: start;
    }
}
.invoices-flexbox{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.align-right{
  background-color: white;
  border: 1px solid white;
  text-align: right;
  font-size: 20px;
  padding-left: 20px;
}
.align-left{
  background-color: white;
  border: 1px solid white;
  text-align: left;
  font-size: 20px;
  padding-left: 20px;
}

.gray-font{
  font-color:#F4F4F4;
}
.item-total{
  margin-top: 0;
    margin-bottom: 1rem;
    padding-top: 10px;
}
.circle-invoice{
     /* position: absolute; */
    /* left: 50px; */
    /* right: 0%; */
    /* top: 0%; */
    bottom: 0%;
    height: 27px;
    width: 27px;
    /* background-color: #bbb; */
    border-radius: 50%;
    display: inline-block;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    /* margin-left: 490px; */
    /* align-content: space-around; */
    /* align-items: end; */
    /* margin-top: 5px; */
    display: grid;
    margin-right: 40px;
    /* margin-bottom: 30px;*/
}
.box-closing{
  left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFBF6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 60vw;
    height: 20vw;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.vector{
  display: grid;
  align-items:center;
color: #2B313D;
}
.box {
    background: white;
    float: left;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.box1 { width: 200px; }
.box2 { width: 40px; }
.box3 { width: 20px; }

svg {
  display: block;
}

.close-x {
    stroke: #2B313D;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 5;
}


.button {
  background: white;
    float: left;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    idth: 40px;
}

.position{
  background: white;
    float: left;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 40px;
}

