.card-img-round{
  width: 100%;
}

.avatat-pos{
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(-50%, 0%);
}

.avatar-empty {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(-50%, 0%);
  background: white;
}

.user-card {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  position: relative;
  height: 120px;
}

.user-empty {
  opacity: 0.35;
  transition: ease .3s;
}

.user-empty:hover {
  opacity: 1;
}

.user-card .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.user-card p {
  margin: 0;
  line-height: 1.4;
  padding-left:50px;
  font-size: 24px;
}

.user-card h3 {
  margin: 0;
  line-height: 1.4;
  padding-left:50px;
}

.user-card small {
  color: #999999;
  font-weight: bold;
}

.user-card .notification-actions {
  opacity: 1;
  display: flex;
  transition: ease .3s;
}

.nuser-card:hover .notification-actions {
  opacity: 1;
}

.user-card .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 22px;
  padding-right: 20px;
}

.user-card .notification-actions a:hover {
  color: #555555;
}
.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 125px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}




.user-card-teams {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid rgb(220,220,220);
  box-shadow: 2px 2px 16px 1px rgba(200, 200, 200, 0.1);
  position: relative;
  width: calc(100%-5%);
  height: 200px;
  margin-top: 40px;
  margin-left: 7%;
  h3 {
    margin: 0;
    line-height: 1.4;
  }
}

.button-add-employee {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  border-radius: 50%;
  left: 0px;
  top: 0px;
  margin-top: 0;
  transform: translate(-50%, 0%);
  background: #FFFBF5;
  height: 100%;
  text-align: center;
  border: 1px solid rgb(220,220,220);
  box-shadow: 2px 2px 16px 1px rgba(200, 200, 200, 0.1);
  text-decoration: none;
  a {
    text-decoration: none;
    font-size: 48px; 
  }
}

.button-add-employee-hover :hover {
  background-color: #FAF0E1;
}