<div class = "row">
  
  <div class = col-6>
    <h1> Rent furniture that's ready for business. </h1>
    <h2> Unleash your team's potential. </h2>
    <p> Let your team create the perfect home office, only for the time that suits your needs.</p>
    <p> Shipped and intalled for free directly to them. <p>
    <p> No fixed upfront investments, maximum flexibility, happy and productive team. <p>
    <%= link_to "Discover the Giotto solution", dashboard_path %>
  </div>
  
  <div class = col-6>
    <%= image_tag("D1-Chair-1.png") %>
  </div>

</div>

<div class = "row">

  <div class = col-6>

  </div>

  <div class = col-6>

  </div>

</div>
