.footer {
  padding-top: 40px;
  padding-bottom: 120px;
  background-color: #F5BFB3;
  border-top: solid 2px #2B313D;
}

.footer-list-icon {
  padding-left: 0;
  padding-top: 24px;

  i {
  padding: 16px;
  border-radius: 50%;
  border: solid 2px #2B313D;
  margin-right: 8px;
  margin-left: 8px;
  font-size: 32px;
  }
}
.footer-list-icon i:hover {  
  background-color: #2B313D;
  color: white; 
}

.footer-list-icon li {
  display: inline-block;
}

.footer-list {
  list-style: none;
  text-decoration: none;
  padding: 0;
}
