

.lateral_menu {
  position: fixed;

  height: calc(100vh - 96px);
  background-color: white;
  box-shadow: 2px 0px 16px rgb(235, 235, 235);

  margin: 0;
  padding: 0;

  position: fixed;
  height: 100vh;
  overflow: auto;
  width: 20rem;
}

.lateral_menu_list {
  padding-top: 60px;
}

.lateral_menu_list li {
  font-size: 1.2rem;
  font-family: Futura, medium;
  letter-spacing: 1px;
  line-height: 3;
  margin-left: 16px;
  padding-top: 1rem;
  color: rgb(160, 160, 160);
  transition: 0.4s;
}

.lateral_menu_list li:hover {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  text-decoration: none;

}


#wrapper {

 position: relative;
}

.lateral_menu_list{
  overflow-y: hidden;
   position: relative;
}



.settings-div {
position: absolute;
transform: translate(0%, -50%);
bottom: 0px;
overflow-y: hidden;
}


.list-group-flush > .list-group-item {
  border-width: 0 0 0px;
}

.lateral_menu_list {
  padding-top: 0px;
  position: fixed;
  height: calc(100vh - 96px);

}



#sidebar-wrapper {
  background-color: white;
  box-shadow: 2px 0px 16px rgb(235, 235, 235);
  height: calc(100vh - 96px);
  padding-top: 35px;
  padding-inline-start: 0px !important;

}



#sidebar-wrapper .list-group {
  width: 17rem;
  font-family: Futura, medium;
  line-height: 2;
  background-color: white;
  text-decoration: none;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.text-side:hover {
  text-decoration: none;
  color: #3e71d8;
}


*:hover {
  text-decoration: none;
}

.list-group {
  padding-left: 25px;

}


