.navbar-lewagon {
  justify-content: space-between;
  background: #FAF0E1;
  height: 96px;
  font-size: 24px;
  font-family: Futura, medium;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  align-content: center;
}

